.background {
  background-color: #232326;
  position: fixed;
  background-size: cover;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -2
}

.title {
  color: white;
  font-size: 50px;
  font-family: Roboto;
  text-align: center
}

.subtitle {
  color: white;
  font-size: 30px;
  font-family: Roboto;
  text-align: center;
  margin-top: 50px
}

.text {
  color: darkgrey;
  font-size:20px;
  font-family: Roboto;
  text-align: justify;
  text-align-last: center;
  margin: auto;
  max-width: 650px
}

.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px
}

.languages-title {
  color: white;
  font-size: 30px;
  font-family: Roboto;
  text-align: left;
  padding-right: 448px;
  margin-top: 50px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px
}

.languages-text {
  color: white;
  font-size: 20px;
  font-family: Roboto;
  text-align: left;
  /* margin-top: 20px */
}

.languages-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: px
}

.projects-title {
  color: white;
  font-size: 30px;
  font-family: Roboto;
  text-align: left;
  padding-right: 486px;
  margin-top: 50px
}

.projects-text {
  color: darkgrey;
  font-size: 20px;
  font-family: Roboto;
  /* text-align: left; */
  padding-right: 478px;
  margin-top: 50px
}

.projects-col {
  flex-basis: 32%;
  position: relative;
  overflow: hidden;
  height: 8em
}