.background {
  background-color: #232326;
  position: fixed;
  background-size: cover;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -2
}

.title {
  color: white;
  font-size: 50px;
  font-family: Roboto;
  text-align: center
}

.subtitle {
  color: white;
  font-size: 30px;
  font-family: Roboto;
  text-align: center;
  margin-top: 50px
}

.text {
  color: darkgrey;
  font-size:20px;
  font-family: Roboto;
  text-align: justify;
  text-align-last: center;
  margin: auto;
  max-width: 650px
}

.languages-title {
  color: white;
  font-size: 30px;
  font-family: Roboto;
  text-align: left;
  padding-right: 448px;
  margin-top: 50px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px
}

.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0
}

.languages-text {
  color: white;
  font-size: 20px;
  font-family: Roboto;
  text-align: left;
  justify-content: center;
  justify-content: space-evenly;
  
}

.languages-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  /* justify-content: space-evenly */
}

.projects-title {
  color: white;
  font-size: 30px;
  font-family: Roboto;
  text-align: left;
  padding-right: 486px;
  margin-top: 50px
}

.projects {
  width: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
}

.project-icon {
  color: white;
  font-size: 20px;
  margin-left: 20px
}

.project-text {
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  width: 10rem;
  text-align: center;
}

.project {
  background-color: #1b1b1f;
  width: 13rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 1rem;
}

.project:hover {
  background-color:#232326;
  transition: 0.5s
}

.languages-title {
  color: white;
  font-size: 30px;
  font-family: Roboto;
  text-align: left;
  padding-right: 446px;
  margin-top: 50px
}

.languages {
  width: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
}

.language-icon {
  color: white;
  font-size: 20px;
  margin-right: 10px
}

.language-text {
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  width: 10rem;
  text-align: center;
}

.language {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 1rem;
}

.links-title {
  color: white;
  font-size: 30px;
  font-family: Roboto;
  text-align: left;
  padding-right: 585px;
  margin-top: 50px
}

.links {
  color: white;
  font-size: 30px;
  font-family: Roboto;
  /* text-align: left; */
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav img{
  width: 150px;
}

.nav-links{
  flex: 1;
  text-align: right;
  padding-left: 474px;
  padding-top: 100px
  /* padding-top: 220px; */
  /* margin-right: 2em; */
}

.nav-links ul  li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 28px;
  font-family: Roboto
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

/* .text-link {
} */

